<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title><%=  title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/_.js"></script>
</head>
<body>
    <img class="bg" src="/images/bg.jpg" alt="">
    <div class="text"> <%=  text %></div>
</body>
</html>